 img {
     height: 65px;
     width: 65px;
     padding: 15px;
 }
 
 p {
     color: #17706E;
     font-family: 'Sacramento', cursive;
     font-size: 35px;
     font-weight: 900;
     padding: 15px;
     margin: 5px;
 }
 
 a {
     color: #000;
     font-family: 'Alef', sans-serif;
     font-size: 15px;
     font-weight: 750;
     padding: 15px;
     margin: 5px;
 }
 
 .navbar {
     background-color: #fff;
     height: 100px;
 }
 
 .space {
     width: 4px;
     height: auto;
     display: inline-block
 }