<div class="row">

    <div class="col-3" onclick="redirect()" *ngFor="let wl of wishlist1 ">
        <br>
        <div class="product-card">
            <img [src]="wl.image">

            <br>
            <div class="info">
                <p>

                    <br>Name: {{wl.name}}
                    <br>Rs. {{wl.dp}}
                    <br> Description: {{wl.note}}



                </p>
            </div>
        </div>

        <div class="action">
            <button class="btn btn-warning" (click)="cart(wl)"><i class="fa-solid fa-cart-plus"></i></button>
            <div class="space"></div>
            <button class="btn btn-warning" (click)="removeWishlist(wl)"><i class="fa-solid fa-minus"></i></button>
        </div>
    </div>