<div class="card">
    <img class="card-img-top" [src]="singleProduct.name" alt="">
    <div class="card-body">
        <h5 class="card-title">Details</h5>
        <h6>{{jewel.name}}</h6>
        <p class="card-text">We usually sell this at {{jewel.original_price}}</p>
        <p class="card-text">But for you we would charge {{jewel.discounted_price}}</p>
        <p class="card-text">This one is {{jewel.length}} long</p>
        <p class="card-text">It weighs {{jewel.weight}}</p>
        <p class="card-text">It is made of{{jewel.material}}</p>
        <p class="card-text">How we describe it? {{jewel.note}}
        </p>
        <p class="card-text"> Need Another Reason to buy it? {{jewel.offers}}</p> -->

        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>