/* You can add global styles to this file, and also import other style files */

body {
    background-color: #f7f7f7;
}

.main-app {
    margin-top: 70px;
    min-height: 100vh;
    min-width: 100%;
}