<!-- <div class="row">

    <div class="col" onclick="redirect()" *ngFor="let bracelet of Bracelets ">
        <img [src]="bracelet.image" alt="">
        <br>
        <p>{{bracelet.name}}</p>
    </div> 
</div> -->
<div id="grid-jewel">
    <div class="title">
        CHIC JEWELLERY
    </div>

    <div class="card-head">
        <div class="card-body">
            <img src="https://assets.cltstatic.com/images/responsive/DefaultBanner_Desktop.webp">
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-md-3">
            <br>
            <div class="name">
                BRACELETS
            </div>
            <div class="product-card" *ngFor="let bracelet of Bracelets">
                <img [src]="bracelet.image">

                <br>
                <div class="info">
                    <p>


                        <br>Name:<span> {{bracelet.name}} </span>
                        <br>Description: <span>{{bracelet.note}}</span>

                        <br>Original Price: Rs. <span> {{bracelet.op}} </span>

                    </p>
                </div>
                <button class="btn btn-primary" (click)="goToBracelets(bracelet)">View Details</button>
                <br>
                <br>
                <div class="action">
                    <button class="btn btn-warning" (click)="wishlist(bracelet)"><i class="fa-solid fa-heart"></i></button>
                    <div class="space"></div>
                    <button class="btn btn-warning" (click)="cart(bracelet)"><i class="fa-solid fa-cart-plus"></i></button>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <br>
            <div class="name">
                NECKLACES
            </div>
            <div class="product-card" *ngFor="let necklace of Necklaces">
                <img [src]="necklace.image">
                <br>
                <div class="info">
                    <p>


                        <br>Name:<span> {{necklace.name}} </span>
                        <br>Description: <span>{{necklace.note}}</span>

                        <br>Original Price: Rs. <span> {{necklace.op}} </span>

                    </p>
                </div>
                <button class="btn btn-primary" (click)="goToNecklace(necklace)">View Details</button>
                <br>
                <br>
                <div class="action">
                    <button class="btn btn-warning" (click)="wishlist(necklace)"><i class="fa-solid fa-heart"></i></button>
                    <div class="space"></div>
                    <button class="btn btn-warning" (click)="cart(necklace)"><i class="fa-solid fa-cart-plus"></i></button>

                </div>
            </div>
        </div>
        <div class="col-md-3">
            <br>
            <div class="name">
                EARRINGS
            </div>

            <div class="product-card" *ngFor="let earring of Earrings">

                <img [src]="earring.image">

                <br>
                <div class="info">
                    <p>

                        <br>Name:<span> {{earring.name}} </span>
                        <br>Description: <span>{{earring.note}}</span>

                        <br>Original Price: Rs. <span> {{earring.op}} </span>

                    </p>
                </div>
                <button class="btn btn-primary" (click)="goToEarrings(earring)">View Details</button>
                <br>
                <br>
                <div class="action">
                    <button class="btn btn-warning" (click)="wishlist(earring)"><i class="fa-solid fa-heart"></i></button>
                    <div class="space"></div>
                    <button class="btn btn-warning" (click)="cart(earring)"><i class="fa-solid fa-cart-plus"></i></button>

                </div>
            </div>
        </div>
        <div class="col-md-3">
            <br>
            <div class="name">
                RINGS
            </div>

            <div class="product-card" *ngFor="let ring of Rings">

                <img [src]="ring.image">
                <br>

                <div class="info">
                    <p>


                        <br>Name:<span> {{ring.name}} </span>
                        <br>Description: <span>{{ring.note}}</span>

                        <br>Original Price: Rs. <span> {{ring.op}} </span>
                    </p>
                </div>
                <button class="btn btn-primary" (click)="goToRings(ring)">View Details</button>
                <br>
                <br>

                <div class="action">
                    <button class="btn btn-warning" (click)="wishlist(ring)"><i class="fa-solid fa-heart"></i></button>
                    <div class="space"></div>
                    <button class="btn btn-warning" (click)="cart(ring)"><i class="fa-solid fa-cart-plus"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>