<div class="cart">
    <div class="upper_section"></div>
    <div class="row">

        <div class="col-3" onclick="redirect()" *ngFor="let c of cart ">
            <br>
            <div class="product-card">
                <img [src]="c.image">

                <br>
                <div class="info">
                    <p>

                        <br>Name: {{c.name}}
                        <br>Rs. {{c.dp}}
                        <br> Description: {{c.note}}



                    </p>
                </div>
            </div>
            <div class="action">
                <button class="btn btn-warning" (click)="cart(c)"><i class="fa-solid fa-cart-plus"></i></button>
                <div class="space"></div>
                <button class="btn btn-warning" (click)="removeCart(c)"><i class="fa-solid fa-minus"></i></button>
            </div>
        </div>


    </div>
    <br>
    <button class="btn btn-dark" (click)="goToCheckout()">Proceed To Checkout</button>
</div>