<div class="cart">
    <div class="row">

        <div class="col-3" onclick="redirect()" *ngFor="let c of cart ">
            <br>
            <div class="product-card">
                <img [src]="c.image">

                <br>
                <div class="info">
                    <p>

                        <br>Name: {{c.name}}
                        <br>Rs. {{c.dp}}
                        <br> Description: {{c.note}}



                    </p>
                </div>
            </div>
            <button class="btn btn-warning"><i class="fa-solid fa-cart-plus"></i></button>
        </div>


    </div>
    <br>
    <button class="btn btn-dark">Proceed To Checkout</button>
</div>