.col {
    padding: 12px;
    height: 500px;
    width: 350px;
    margin: 4px;
}

img {
    height: 290px;
    width: 280px;
    padding: 10px;
    margin: 7px;
}

.product-card {
    padding: 5px;
    margin: 5px;
    border: 2px solid white;
    background-color: aliceblue;
}

span {
    color: black;
}

.info {
    background-color: aliceblue;
}

.card-body {
    height: 350px;
    width: 100%;
    margin-top: 2px
}

.card-body img {
    height: 350px;
    width: 100%;
}

.name {
    color: coral;
    text-align: center;
    background-color: bisque;
}

.action btn {
    display: flex;
    margin: 25px;
    padding: 25px;
    align-items: flex-start;
}

.space {
    width: 4px;
    height: auto;
    display: inline-block
}

.product-card p {
    font-family: 'Chivo', sans-serif;
    font-size: large;
    font-weight: 700;
    color: #BB9F06;
    text-align: left;
}

.product-card span {
    font-family: 'Chivo', sans-serif;
    font-size: large;
    color: #86A873;
    text-align: left;
}