<div class="card-head">
    <div class="card-body">
        <img src="https://banner.caratlane.com/live-images/fa40b317ae22470bbe6ec03aa614be93.webp">
    </div>
</div>
<br>

<div class="row">

    <div class="col-3" onclick="redirect()" *ngFor="let ring of Rings ">
        <br>
        <div class="product-card">
            <img [src]="ring.image">

            <br>
            <div class="info">
                <p>

                    <br>Name:<span> {{ring.name}} </span>
                    <br>Description: <span>{{ring.note}}</span>
                    <br>Offers:<span> {{ring.offers}}</span>
                    <br>Original Price: Rs. <span> {{ring.op}} </span>



                </p>
            </div>

            <button class="btn btn-primary" (click)="goToRings(ring)">View Details</button>
            <br>
            <br>
            <div class="action">
                <button class="btn btn-warning" (click)="wishlist(ring)"><i class="fa-solid fa-heart"></i></button>
                <div class="space"></div>
                <button class="btn btn-warning" (click)="cart(ring)"><i class="fa-solid fa-cart-plus"></i></button>
            </div>

            <!-- 
            <div class="action">
                <button (click)="wishlist(ring)">
                    <img src="/assets/wishlist.png" alt="Add to wishlist">

                </button>

                <a (click)="cart(ring)">
                    <img src="/assets/shop.png" alt="Add to cart">

                </a> -->

        </div>
    </div>
</div>