.checkout-page {
    display: flex;
}

.space {
    width: 4px;
    height: auto;
    display: inline-block;
}

.component2 {
    display: flex;
    margin: 25px;
    padding: 20px;
}

.card {
    margin: 25px;
    border: 2px solid #3D5B59;
}

span {
    color: cornflowerblue;
    font-weight: 500;
    font-size: larger;
    font-family: monospace;
}

h1 {
    color: #CDD193;
    font-family: 'Chivo', sans-serif;
    font-weight: 700;
    font-size: x-large;
}

.col-4 {
    border-right: 2px solid black;
    border-left: 2px solid black;
    color: #013A20;
    font-weight: bold;
}

.row {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.coupon-box {
    font-family: 'Chivo', sans-serif;
    font-weight: bolder;
    font-size: medium;
    color: #3D5B59;
}