<div class="card-head">
    <div class="card-body">
        <img src="https://banner.caratlane.com/live-images/57df889715444466ae111a10de4e8e4b.webp">
    </div>
</div>
<br>

<div class="row">

    <div class="col-3" onclick="redirect()" *ngFor="let necklace of Necklace ">
        <br>
        <div class="product-card">
            <img [src]="necklace.image">

            <br>
            <div class="info">
                <p>

                    <br>Name: {{necklace.name}}
                    <br>Rs. {{necklace.dp}}
                    <br> Description: {{necklace.note}}



                </p>
            </div>


            <div class="action">
                <button class="btn btn-warning"><i class="fa-solid fa-heart"></i></button>
                <div class="space"></div>
                <button class="btn btn-warning"><i class="fa-solid fa-cart-plus"></i></button>
            </div>


        </div>
    </div>
</div>